.cart {
    background: #000;
    display: none;
    padding: 32px;
    position: fixed;
    right: 0;
    top: 0;
    width: 200px;
    height: 95%; /* Elimina o comenta esta línea */
    overflow-y: auto; /* Agrega esta línea */
    z-index: 9998; /* Asegura que el cajón de carrito esté detrás del botón */
}

.cart-content {
    /* Agrega un contenedor con altura definida */
    height: 100%; /* Puedes ajustar esta altura según tus necesidades */
}

.cart img {
    aspect-ratio: 16/9;
    width: 100%;
}

.cart li {
    border-bottom: 1px solid #444;
    padding-bottom: 16px;
}

.cart footer {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.cart footer button {
    padding: 8px;
}

.cart-button {
    align-items: center;
    background: #09f;
    border-radius: 9999px;
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: center;
    padding: 4px;
    position: fixed;
    right: 8px;
    top: 8px;
    transition: all .3s ease;
    width: 32px;
    z-index: 9999;
}

.cart-button:hover {
    transform: scale(1.1); /* Corrige la propiedad "scale" a "transform: scale(...)" */
}

.cart-button ~ input:checked ~ .cart {
    /* height: 100%; */ /* Elimina o comenta esta línea */
    display: block;
}

