.products {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .products ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  
  .products li {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, .1);
    border-radius: 4px;
    background: #111;
    color: #fff;
    padding: 1rem;
  }
  .title{
    margin: 5;
  }

  .products h3 {
    margin: 0;
  }
  
  .products span {
    font-size: 1rem;
    opacity: .9;
  }
  
  .products img {
    border-radius: 4px;
    width: 100%;
    aspect-ratio: 16/9;
    display: block;
    object-fit: cover;
    background: #fff;
  }

  .descripcion {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: .8rem;
    margin: 0;
}
.in-cart{
  background-color: #ff0000;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 5px;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 300ms;
}
.in-cart:hover{
  background-color: #b90202;
}

.not-in-cart{
  background-color: #0c8512;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 5px;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 300ms;
}
.not-in-cart:hover{
  background-color: #07660e;
}

@media (min-width: 768px) {
  .products ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}

@media (min-width: 992px) {
  .products ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
}